easydict==1.9
matplotlib==3.0.3
numpy==1.16.2
pandas==0.24.1
pytz==2017.3
PyYAML==5.1
torch==0.4.1
torchfile==0.1.0
torchtext==0.4.0
torchvision==0.2.1
transformers==2.8.0
tqdm==4.31.1
regex==2018.01.10
scipy==1.1.0
ujson==5.4.0
allennlp==0.6.0
